<h1>Рассчет употребления воды в день</h1>

<div class="content">
	<div class="params">
		<div class="gender">
			<h3>Пол</h3>
			<span class="selected-gender" data-param="man">Мужской</span>
			<span data-param="woman">Женский</span>
		</div>
		
		<h3 class="weight-label">Вес <span></span></h3>
		<div class="weight">
			<div class="slider"></div>
		</div>
		
		<h3 class="physical-label">Физическая активность <span></span></h3>
		<div class="physical-activity">
			<div class="slider"></div>
		</div>

		<div style="margin-top: 20px;">
			<p class="successful">Successful!</p>
			<p class="failed">Failed!</p>

			<% if current_admin_user %><button class="save">Save</button><% end %>
		</div>
	</div>

	<div class="result">
		<h2 class="total">Рекомендовано для потребления <br><span></span> в день</h2>
		<div class="b-bottle-cals">
			<i class="bottle-cals-patt"></i>
			<i class="bottle-cals-bg"></i>
		</div>
	</div>
</div>
</div>